html,body,div,span,object,iframe,frame,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,a,b,i,dl,dt,dd,ol,ul,li,fieldset,textarea,select,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video,input {background: transparent;margin:0;padding:0;outline:none;border: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
input, label, button, form{background:transparent;margin:0;padding:0;outline:none;border:0;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
table{border-collapse:collapse;border-spacing:0;}
input, select{vertical-align:middle;}

article, aside, figure, figure img, hgroup, footer, header, nav, section{display:block;}
body{font:14px Roboto, Arial, Helvetica, sans-serif;line-height:normal;padding:0;margin:0;color:#cdcdcd;background:#1c222c;background-size:cover;height:100%;width:100%;font-weight:400;}
   
img{max-width:100%;}
.clr{clear: both;}
.clearfix:after{content: "";display:table;clear:both;}
a {color:#BEC5D0;text-decoration:none;}
a:hover, a:focus{color:#008ACE;text-decoration:none;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
h1{font-size:24px;}
h2{font-size:24px;}
h3{font-size:21px;}

.form-wrap{margin:0;}
.sub-title h1{margin-bottom:15px;font-size:24px;}
.pm-page, .search-page, .static-page, .tags-page {}
.tags-page a{margin-bottom:10px;}
.tags-page a:hover{color:#fff!important;}

textarea{overflow:auto;vertical-align:top;padding:8px 10px;color:#cdcdcd;background-color:#212834!important;border:1px solid #354052!important;border-radius:5px;font: 13px/19px 'Open Sans', Helvetica, Arial, sans-serif;}
select{color:#d5d5d5;height:40px;border:1px solid #354052;padding:0px 10px;background:#212834;border-radius:5px;font:13px/19px 'Open Sans', Helvetica, Arial, sans-serif;}
hr{height:1px;background:#202632;border:0;overflow:hidden;border-bottom:1px solid #354052;}

button, html input[type="button"], input[type="reset"], input[type="submit"] {padding:0 25px;font:normal 14px Arial!important;color:#fff;display:inline-block;background-color:#f05521;height:40px;line-height:40px;border-radius:5px;cursor:pointer;}
button::-moz-focus-inner, input::-moz-focus-inner {border:0;padding:0}
button[disabled], input[disabled] {cursor:default}
button:hover, html input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {background-color:#f66a3b;}
button:active, html input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.1);}
input[type="submit"].bbcodes, input[type="button"].bbcodes, input.bbcodes, .ui-button {font-weight:normal;font-size:12px!important;height:30px!important;line-height:30px!important;padding:0px 10px;background-color:#97ce68;border-radius:3px;box-shadow:none;border:0;text-shadow:none;}
input[type="text"], [type="password"] {display:block;box-sizing: border-box;-moz-box-sizing: border-box;width: 100%;height: 40px;padding: 8px 10px;outline: none;border: 1px solid #354052;border-radius: 5px;background: #212834;font: 13px/19px 'Open Sans', Helvetica, Arial, sans-serif;color: #d5d5d5;}

textarea:hover, input:hover, select:hover {/*color:#d5d5d5;*/border-color: #949494!important;}
textarea:focus, input:focus, select:focus {/*color:#d5d5d5;*/border-color: #949494!important;} 
textarea, input {outline:none}
input[type="text"], [type="password"], textarea {appearance:normal;-moz-appearance:none;-webkit-appearance:none;transition:border-color0.3s;-o-transition:border-color0.3s;-ms-transition:border-color0.3s;-moz-transition:border-color0.3s;-webkit-transition:border-color 0.3s;}

input:focus::-webkit-input-placeholder{color:transparent}
input:focus::-moz-placeholder{color:transparent}
input:focus:-moz-placeholder{color:transparent}
input:focus:-ms-input-placeholder{color:transparent}
table.userstop, table.pm, table.tableform, table.calendar{border-collapse:collapse;border-spacing:0}
.ui-icon, .close{display:block;overflow:hidden;text-indent:-9999px;white-space:nowrap;}
