.wrapper {
  height: auto;
  width: 100%;
  min-width: 320px;
  position: relative;
  /* padding-top: 50px; */ }

.wr-center {
  z-index: 100;
  width: 100%;
  min-width: 320px;
  max-width: 1264px;
  margin: 0 auto;
  position: relative;
  background: #293241;
  -webkit-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0; }

a, .show-login i, .movie-img-inner, .go-watch, .trailer-img:before, .show-bigmenu, .news-img, .but, .tabs li, .rel-movie-title {
  -webkit-transition: color .4s, background-color .4s, opacity -0.1s;
  -o-transition: color .4s, background-color .4s, opacity -0.1s;
  transition: color .4s, background-color .4s, opacity -0.1s; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.top {
  position: relative;
  padding-left: 260px;
  background-color: #354052;
  height: 70px; }
  .top ul {
    float: left;
    padding-top: 15px; }
    .top ul li {
      float: left; }
      .top ul li a {
        display: block;
        padding: 0 15px;
        line-height: 40px;
        color: #e9e9e9;
        font-size: 15px;
        background: #303a4a;
        border: 1px solid #29323f;
        font-weight: 500; }

.top-buts {
  float: right;
  padding-top: 15px;
  padding-right: 10px; }

.show-login, .show-login-i {
  display: inline-block;
  line-height: 38px;
  cursor: pointer;
  padding: 0px 18px;
  background: #2c3644;
  border: 1px solid #242d3c;
  -webkit-border-radius: 24px;
          border-radius: 24px; }
  .show-login .fa, .show-login-i .fa {
    margin-right: 4px; }
  .show-login span, .show-login-i span {
    color: #e0e0e0; }

.search-wrap {
  width: 230px;
  position: absolute;
  right: 130px;
  top: 15px;
  z-index: 100; }
  .search-wrap .search-box {
    width: 100%;
    position: relative; }
    .search-wrap .search-box input, .search-wrap .search-box .search-box input:focus {
      width: 100%;
      height: 40px;
      line-height: 30px;
      padding: 0 40px 0 15px;
      -webkit-border-radius: 25px;
              border-radius: 25px;
      background-color: rgba(0, 0, 0, 0.1);
      color: #d0d0d0;
      border: 0;
      -webkit-box-shadow: inset 0 0 0 1px #293241;
              box-shadow: inset 0 0 0 1px #293241; }
    .search-wrap .search-box button {
      position: absolute;
      right: 0;
      top: 6px;
      -webkit-border-radius: 0;
              border-radius: 0;
      padding: 0;
      text-align: center;
      width: 40px;
      height: 27px;
      line-height: 30px;
      color: #FFF;
      background-color: transparent; }

.robik {
  position: absolute;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  left: 40px; }
  .robik a {
    color: #d8d8d8;
    font-size: 38px;
    font-weight: bold;
    font-family: 'Roboto',Arial,sans-serif;
    display: block;
    -webkit-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out; }
    .robik a:hover {
      font-size: 40px; }
    .robik a span {
      color: #88b669;
      font-weight: 900; }

nav {
  background-position: center -250px;
  padding: 15px;
  background: #212834;
  -webkit-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.5), inset 0 -20px 20px -20px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.5), inset 0 -20px 20px -20px rgba(0, 0, 0, 0.5);
  position: relative;
  padding-left: 130px;
  color: #4F555F; }
  nav .show-bigmenu {
    width: 100px;
    height: 111px;
    position: absolute;
    top: 15px;
    left: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #d4d4d4;
    -webkit-box-shadow: inset 0 0 0 1px #354052;
            box-shadow: inset 0 0 0 1px #354052;
    background-color: #222935;
    cursor: pointer;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    font-weight: 500; }
    nav .show-bigmenu i {
      display: block;
      font-size: 26px;
      margin-bottom: 10px; }
  nav ul {
    -webkit-columns: 6 auto;
            columns: 6 auto; }
    nav ul li {
      width: auto;
      margin-bottom: 4px;
      border: 1px solid #354052;
      background: #222935;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      text-align: center; }
      nav ul li a {
        display: block;
        line-height: 23px;
        color: #d4d4d4;
        font-size: 13px;
        font-weight: 500; }

.line {
  background-color: #354052;
  padding: 0 20px 0 315px;
  height: 40px;
  line-height: 40px;
  position: relative; }
  .line a {
    text-decoration: underline; }
  .line .add-fav {
    display: block;
    background-color: #7ba365;
    color: #fff !important;
    width: 23%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    left: 0px;
    top: 0px;
    text-decoration: none !important;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 500; }
    .line .add-fav:hover {
      background-color: #6ea83a; }

.img-box {
  overflow: hidden;
  position: relative; }
  .img-box img {
    width: 100%;
    min-height: 100%; }

.content {
  padding: 20px 0;
  position: relative; }
  .content .col-sidebar {
    float: left;
    width: 23%;
    padding-left: 20px; }
    .content .col-sidebar .recomended {
      margin-bottom: 20px;
      background-color: #354052;
      padding: 15px 15px 0; }
      .content .col-sidebar .recomended p {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 15px;
        text-align: center; }
      .content .col-sidebar .recomended .items {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .content .col-sidebar .recomended .items .item {
          margin-bottom: 15px;
          width: 45%; }
          .content .col-sidebar .recomended .items .item img {
            height: 150px;
            -webkit-border-radius: 5px;
                    border-radius: 5px; }
          .content .col-sidebar .recomended .items .item .desc {
            text-align: center;
            padding-top: 5px; }
  .content .col-content {
    float: right;
    width: 77%;
    padding: 0 30px 20px 30px;
    min-height: 600px; }
    .content .col-content .section {
      margin-bottom: 20px; }
      .content .col-content .section .section-title {
        margin-bottom: 20px;
        line-height: 40px; }
        .content .col-content .section .section-title a {
          display: inline-block;
          padding: 0 15px;
          color: #B2B9C4;
          background-color: #212834;
          margin-left: 30px;
          -webkit-border-radius: 3px;
                  border-radius: 3px; }
          .content .col-content .section .section-title a:hover {
            background-color: #4a5361; }
        .content .col-content .section .section-title h2, .content .col-content .section .section-title h1, .content .col-content .section .section-title .title-sect {
          font-size: 16px;
          text-transform: uppercase;
          font-weight: 700;
          display: inline-block;
          -webkit-box-shadow: inset 0 -3px 0 0 #606670;
                  box-shadow: inset 0 -3px 0 0 #606670;
          position: relative; }
      .content .col-content .section .car-movies .movie-item {
        /* z-index: 50; */
        margin: 0 8px; }
