@import url("https://fonts.googleapis.com/css?family=Bitter|Cute+Font");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

.container {
  width: 90%;
  margin: 0 auto; }

li {
  list-style: none; }

body {
  position: relative;
  min-width: 320px;
  background-color: #f7f7f7; }

header {
  background-color: #fff !important;
  height: 60px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 30;
  position: relative;
  font-size: 1.2em; }
  header .container-header {
    padding: 10px 15px;
    max-width: 780px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: #9da1a3; }
  header .logo a {
    font-family: 'Bitter', serif;
    font-weight: 800;
    color: #323436;
    font-size: 2em; }

.overlay {
  display: none;
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2); }

.hidden-menu {
  display: none;
  z-index: 40;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  background-color: white;
  width: 72%;
  -webkit-transition: 5s;
  -o-transition: 5s;
  transition: 5s; }
  .hidden-menu a {
    width: 100%;
    display: block; }
  .hidden-menu .search li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 20px; }
  .hidden-menu .thread {
    border-bottom: 1px solid #eaeaea; }
    .hidden-menu .thread span {
      font-size: 0.8em;
      padding-left: 20px;
      color: #798e98; }
    .hidden-menu .thread li {
      border: none;
      line-height: 45px;
      color: #444; }
  .hidden-menu ul {
    position: relative;
    z-index: 2;
    overflow-y: auto;
    background-color: #fff; }
    .hidden-menu ul li {
      line-height: 60px;
      padding-left: 20px;
      color: #333;
      border-bottom: 1px solid #eaeaea; }

.content-wrap {
  position: relative;
  max-width: 780px;
  margin: 0 auto;
  z-index: 1; }

.filter-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #f7f7f7;
  height: 60px;
  border-bottom: 1px solid #d5dddf; }
  .filter-line a {
    position: relative;
    color: #6f7577;
    font-weight: 800;
    padding: 20px 16px;
    margin: 0 5px;
    text-transform: uppercase; }
    .filter-line a:last-child {
      float: right; }
  .filter-line .active:after {
    content: "";
    display: block;
    background-color: #77a8d0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; }

.content {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  color: #111;
  font-size: 16px;
  line-height: 1.56; }
  .content a {
    color: #414b50; }
  .content .item {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    background: white;
    padding: 16px; }
    .content .item .item-top {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding-bottom: 11px; }
      .content .item .item-top a {
        margin: 0 3px; }
      .content .item .item-top span {
        color: #777; }
      .content .item .item-top .user-avatar-icon img {
        width: 24px;
        height: 24px;
        background-color: red;
        border-radius: 7px; }
    .content .item .item-content-preview {
      margin-bottom: 13px; }
      .content .item .item-content-preview h2 a {
        font-size: 20px; }
    .content .item .item-tags {
      margin-bottom: 20px; }
      .content .item .item-tags a {
        border: 1px solid #afb0e2;
        color: #6667a2;
        padding: 4px 8px;
        border-radius: 2px;
        font-size: 12px;
        line-height: 1.2; }
    .content .item .item-counters {
      padding-top: 7px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .content .item .item-counters span {
        color: #798e98; }

footer {
  bottom: 0;
  background-color: #2b3134;
  padding: 36px 16px 32px; }
  footer h6 {
    text-align: center;
    font-size: 2em;
    padding-bottom: 32px; }
    footer h6 a {
      color: white; }
  footer .connection {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 7vw;
    padding: 15px; }
    footer .connection span {
      margin: 0 15px;
      color: white; }
  footer .footer__link {
    border: 1px solid #4b575d;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #bdcdd6;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    height: 48px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 16px;
    text-decoration: none; }
    footer .footer__link i {
      font-size: 1.2em; }
  footer .link-app {
    padding: 48px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    footer .link-app img {
      width: 40%;
      min-height: 50px;
      margin: 0 15px; }
  footer .footer_info {
    text-align: center;
    color: white; }



  iframe{
    margin: auto;
    width: 80%;
    height: 400px;
  }
/*p img {*/
/*  width: 100%;*/
/*  height: 350px;*/
/*  border-radius: 5px; }*/
